body {
  font-size: 20px;
}
/* 
  ширина container 360  
  или 4 раза по 90  
*/
.container {
  width: 360px;
  margin: auto;
  padding-top: 15px;
  background: burlywood;
}

/* 
  ширина box 15 + 60 + 15
  или 90  
*/
.box {
  width: 60px;
  margin: 0 15px 15px;
  height: 75px;
  line-height: 75px;
  background-color: teal;
  display: inline-block;
  text-align: center;
  color: #fff;
}
